.headerContainer {
    position: absolute;
    width: 100%;
    top: 0;
    height: 56px;
    background-color: #303842;

    display: flex;
    justify-content: center;
    align-items: center;

    .headerDivContainer {
        text-align: center;
        color: #2aa04e;
    }

    .headerIcon {
        margin: 0 8px;
    }
}

.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;

    .yearInputAndSearchContainer {
        display: flex;
    }
}

.inputYear {
    padding: 8px;
    // border-bottom: solid red;
}

.searchBtn {
    margin: 0 8px;
    padding: 8px;
}
